pip3 install Flask
pip3 install wtforms
pip3 install pbkdf2_sha256
pip3 install flask_web_log
pip3 install flask_session
pip3 install flask_web_log
pip3 install flask_login
pip3 install mysql
pip3 install flask_mysqldb
pip3 install mysql-connector-python
pip3 install requests
pip3 install redis
pip3 install pandas
pip3 install flask_mail
pip3 install passlib
pip3 install cx_Oracle
pip3 install openpyxl