
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul>

						<!--	<li>
							  <a target="_blank" rel="noopener noreferrer" 
								 href="https://www.vipera.com.tr">
								 Vipera Team
							  </a>
							</li>
							-->
			  
						  </ul>
						</nav>
						<div class="copyright float-right">
						  &copy; <a target="_blank" rel="noopener noreferrer" 
									href="https://www.vipera.com.tr">VP</a> 
									- coded by <a target="_blank" rel="noopener noreferrer" href="https://www.vipera.com.tr">Vipera</a>
						</div>
            </footer>
            