<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vipera - Registration Wizard</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../static/reg_assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/reg_assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/reg_assets/css/form-elements.css">
        <link rel="stylesheet" href="../static/reg_assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../static/reg_assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/reg_assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/reg_assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/reg_assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../static/reg_assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

		<!-- Top menu -->

        <!-- Top content -->
        <div class="top-content">
            <div class="container">
                

                
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    	<form role="form" action="/register" method="post" class="f1">
                    		<h3>Register To Vipera</h3>
                    		<p>Vipera Yazılımına Kayıt İçin Formu Doldurunuz....</p>
                    		<div class="f1-steps">
                    			<div class="f1-progress">
                    			    <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                    			</div>
                    			<div class="f1-step active">
                    				<div class="f1-step-icon"><i class="fa fa-user"></i></div>
                    				<p>Kullanıcı</p>
                    			</div>
                    			<div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-key"></i></div>
                    				<p>Parola</p>
                    			</div>
                    		    <div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-users"></i></div>
                    				<p>Firma</p>
                    			</div>
                    		</div>
                    		
                    		<fieldset>
                    		    <h4>Kullanıcı Bilgileri:</h4>
                    			<div class="form-group">
                    			    <label class="sr-only" for="adi">First name</label>
                                    <input type="text"  placeholder="Adı..."  id="adi" name="adi" required  class="f1-first-name form-control">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="soyadi">Soyadi</label>
                                    <input type="text"  placeholder="Soyadi..." class="f1-last-name form-control"id="soyadi" name="soyadi" required>
                                </div>


                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>Parola Bilgileri:</h4>
								<div class="form-group">
                                    <label class="sr-only" for="email">Email Adresi</label>
                                    <input type="email" placeholder="Email Adresi..." class="f1-email form-control" id="email" name="email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                                </div>
                
                                <div class="form-group">
                                    <label class="sr-only" for="password">Password</label>
                                    <input type="password" name="password" placeholder="Password..." class="f1-password form-control" id="password">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="confirm_password">Repeat password</label>
                                    <input type="password" placeholder="Repeat password..." class="f1-repeat-password form-control" id="confirm_password" name="confirm_password" required>
                                </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>Firma Bilgileri:</h4>
                                <div class="form-group">                                    
									<label class="sr-only" for="firmaadi">Firma Adı</label>
                                    <input type="text" name="firmaadi" placeholder="Firma Adı..." class="f1-facebook form-control" id="f1-facebook">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="fadi">Firma Adı Kısa </label>
                                    <input type="text" placeholder="Firma Adı Kısa ..." class="f1-twitter form-control" id="fadi" name="fadi" placeholder="Firma Adı" required="true"/>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="country">Ülke</label>
                                    <input type="text" name="country" placeholder="Ülke..." class="f1-google-plus form-control" id="country">
                                </div>
								<div class="form-group">
                                    <label class="sr-only" for="city">Şehir</label>
                                    <input type="text" name="city" placeholder="Şehir..." class="f1-google-plus form-control" id="city" name="city" required="true"/>
                                </div>
								<div class="form-group">                                    <label class="sr-only" for="phone">Telefon</label>
                                    <input type="text" name="phone" placeholder="Telefon..." id="phone" class="f1-google-plus form-control" required="true"/>
                                </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="submit" class="btn btn-submit">Submit</button>
                                </div>
                                
                            </fieldset>

                    	</form>
                    </div>
                </div>
                    
            </div>
        </div>


        <!-- Javascript -->
        <script src="../static/reg_assets/js/jquery-1.11.1.min.js"></script>
        <script src="../static/reg_assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/reg_assets/js/jquery.backstretch.min.js"></script>
        <script src="../static/reg_assets/js/retina-1.1.0.min.js"></script>
        <script src="../static/reg_assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>