<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>Şifrenizi mi unuttunuz?</title>
		<link rel="stylesheet" href="../static/assets/css/forgotstyle.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Şifrenizi mi unuttunuz?</h1>
			<form action="/forgotpassword" method="post">
                <label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="E-Mail Adresiniz" id="email" required>
				<input type="submit" value="Gönder">
			</form>
		</div>
	</body>
</html>
